*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
div,
span,
p,
img,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family: 'raleway', 'Helvetica', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  color: #444f5d;
  line-height: 1.4;
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

small {
  font-size: 0.9em;
}

section {
  width: 100%;
  float: left;
  padding: 30px 15px;
}

.ts {
  margin-top: 20px;
}

.bs {
  margin-bottom: 20px;
}

.tac {
  text-align: center;
}

.opt {
  opacity: 0.5;
}

.ft-lg {
  font-size: 3em;
}

.title-lg {
  padding-bottom: 30px;
  color: #9da2a8;
}

.container {
  max-width: 1024px;
  position: relative;
  margin: auto;
}

.f-container {
  width: 100%;
  position: relative;
  padding: 0 15px;
}

.float-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.tip:before {
  content: '';
  position: absolute;
}

.tip:after {
  content: attr(data-tip);
  position: absolute;
  color: #fff;
  font-size: 12.5px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 15px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}

.tip.top:before,
.tip.top:after,
.tip.bottom:before,
.tip.bottom:after {
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.tip.top:after {
  top: 0;
}

.social .tip.top:after {
  top: -30px;
}

.social .tip:hover:after {
  visibility: visible;
  opacity: 1;
  top: -40px;
}

.nav {
  width: 100%;
  float: left;
  position: fixed;
  z-index: 5;
  padding-right: 50px;
}
.nav ul {
  padding: 0;
  margin: 0;
  float: right;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  display: block;
  font-weight: bold;
  margin: 20px 10px;
  color: #3C4B5A;
  transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.nav ul li a:hover {
  color: rgba(60, 75, 90, 0.62);
}
.nav .disable {
  visibility: hidden;
  opacity: 0;
}

.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  background: linear-gradient(to bottom, rgba(24, 35, 47, 0.26), #223240), url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  overflow: hidden;
  padding: 0;
}
.intro .content {
  width: 100%;
}
.intro .content .title {
  font-size: 4em;
  font-weight: 600;
  animation: appear-txt 1s ease-in-out;
  animation-delay: 0.2s;
}
.intro .content .description {
  font-weight: 100;
  padding-top: 10px;
  display: block;
  font-style: italic;
  color: #ccc;
  position: relative;
  animation: appear-txt 2s ease-in-out;
}

@-webkit-keyframes appear-txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes appear-txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes appear-txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear-txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.social {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: appear 0.8s ease-in-out forwards;
  -webkit-animation: appear 0.8s ease-in-out forwards;
  animation-delay: 0.5s;
}
.social .box {
  position: relative;
  display: inline-block;
  opacity: 0.9;
  border-radius: 100%;
  padding: 20px;
  margin: 0 5px;
  transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  background-size: 23px;
}
.social .box:hover {
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
}
.social .box:active {
  top: 1px;
  position: relative;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes appear {
  0% {
    bottom: 20px;
  }
  100% {
    opacity: 1;
    bottom: 70px;
  }
}
@-moz-keyframes appear {
  0% {
    bottom: 20px;
  }
  100% {
    opacity: 1;
    bottom: 70px;
  }
}
@-ms-keyframes appear {
  0% {
    bottom: 20px;
  }
  100% {
    opacity: 1;
    bottom: 70px;
  }
}
@keyframes appear {
  0% {
    bottom: 20px;
  }
  100% {
    opacity: 1;
    bottom: 70px;
  }
}
.gh {
  background: url("../img/gh.png") no-repeat center, rgba(255, 255, 255, 0.6);
}

.cp {
  background: url("../img/cp.png") no-repeat center, rgba(255, 255, 255, 0.6);
}

.in {
  background: url("../img/in.png") no-repeat center, rgba(255, 255, 255, 0.6);
}

.about {
  padding-top: 90px;
  padding-bottom: 90px;
}

.portfolio {
  background: #f9f9f9;
  padding-top: 90px;
}

.item-job {
  width: 100%;
  min-height: 200px;
  float: left;
  border-radius: 4px;
  padding: 0 15px;
  background: #ddd;
  position: relative;
  transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.item-job:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}
.item-job .job1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.31)), url("../img/job1.jpg") no-repeat center;
}
.item-job .job2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.31)), url("../img/job2.jpg") no-repeat center;
}
.item-job .job3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.31)), url("../img/job3.jpg") no-repeat center;
}
.item-job .job4 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.31)), url("../img/job4.jpg") no-repeat center;
}
.item-job .photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-size: cover;
}
.item-job .btn {
  width: 100%;
  text-align: center;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
  background: #1590D2;
  color: #fff;
  border: 2px solid transparent;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.item-job .btn:hover {
  background: #1070a4;
  border: 2px solid #0e608c;
}
.item-job .btn:active {
  top: 2px;
  position: relative;
}
.item-job .info {
  padding-top: 165px;
}
.item-job .info p {
  font-size: 0.8em;
}

@media (min-width: 900px) {
  .negative-space {
    margin-left: -30px;
  }
}
@media (min-width: 768px) {
  .social .box {
    padding: 30px;
    background-size: 30px;
  }

  p {
    font-size: 1em;
  }

  .box-3 {
    width: 33.333%;
    margin-bottom: 15px;
    padding: 0 15px;
    float: left;
  }
}
@media (max-width: 768px) {
  .intro .content .title {
    font-size: 1.1em;
  }
  .intro .content .description {
    font-size: 0.7em;
  }

  .box-3 {
    width: 50%;
    margin-bottom: 15px;
    padding: 0 15px;
    float: left;
  }

  .negative-space {
    margin-left: -15px;
  }
}
@media (max-width: 480px) {
  .intro .content .title {
    font-size: 1.1em;
  }
  .intro .content .description {
    font-size: 0.7em;
  }

  .box-3 {
    width: 100%;
    margin-bottom: 15px;
    padding: 0 15px;
    float: left;
  }
}
