body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
  background-color: #08253314;
  overflow-x: hidden;
  opacity: 0;
  animation: helloDarknessMyOldFriend .4s .2s ease-in-out forwards;
}

@media (min-width: 768px) {
  body {
    padding: 4rem 6rem;
  }
}


/*
  Header
*/

h1 {
  max-width: 240px;
  font-size: 1.5rem;
  line-height: 1.5;
  word-break: break-word;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  h1 {
    max-width: 800px;
    font-size: 5.5rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}


/*
  Description
*/

.description {
  max-width: 380px;
  margin: 20px 0 0px;
  font-size: 1.4rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .description {
    max-width: 525px;
    margin: 40px 0 0px;
    font-size: 1.9rem;
  }
}

.description > span {
  text-decoration: underline;
}


/*
  Networking
*/

.social {
  position: fixed;
  bottom: 2rem;
}

@media (min-width: 768px) {
  .social {
    display: flex;
    flex-wrap: wrap;
  }

  .social > li {
    margin-right: 4rem;
  }
}

.social > li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.social__item {
  position: relative;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all .2s ease;
}

@media screen and (min-width: 768px) {
  .social__item {
    font-size: 1.6rem;
  }
}

.social__item:hover {
  opacity: .2;
}


/*
  Keyframes
*/

@keyframes helloDarknessMyOldFriend {
  100% {
    opacity: 1;
  }
}