*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
div,
span,
p,
img,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
  padding: 0;
  margin: 0;
}

